body{
 background-color: #CCCCFF;
 font-weight: bold;
 font-size: 14pt;
 font-family:  sans-serif;
}
.heading
{
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
}
.main
{
    text-align: center;
}
.main textarea
{
    width: 90%;
    height: 400px;
    font-size: 12pt;
    font-weight: bold;
    font-family: monospace;
}
.main fieldset{
    display: inline;
    border: 5px solid #000;
    vertical-align:top;
}
#validator
{
  text-align: right;
}